<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportec.sportec">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".layouts.DeporteLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".layouts.OpcionLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".layouts.ResultadoLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".layouts.EquipoLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".gui.TabActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".layouts.SessionLayout"
            android:screenOrientation="portrait"
            android:label="@string/session_name"/>
        <activity android:name=".layouts.FormularioRegistroLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".layouts.PerfilLayout" />
    </application>

</manifest>